body {
  margin-top: 10%;
  background-color: powderblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  width: 30%;
  height: 3vh;
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 3%;
  border: none;
}
input {
  height: 4vh;
}
button {
  border-radius: 10px;
  height: 10%;
  width: auto;
  font-weight: 600;
  padding: 6px;
  padding-bottom: 6px;
  background-color: rgb(148, 148, 148);
}

h1 {
  font-size: 400%;
  color: rgb(41, 41, 41);
}

li {
  list-style: none;
  font-size: 300%;
  color: rgb(48, 48, 48);
}

h4 {
  margin: 5%;
  line-height: 250%;
  color: rgb(48, 48, 48);
}
